
section#post-page {
    .date {
        color: rgba(0,0,0,.5);
    }

    .content {
        .image {
            float: left;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
    }
}